.search-input {
    $searchBoxHeight: $minInputHeight;;
    $searchBorderColor: $secondary;
    $searchButtonColor: $secondary;
    $searchBackgroundColor: $white;
    $searchBorderRadius: $border-radius;

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $searchBorderColor;
    border-radius: $searchBorderRadius;
    background-color: $searchBackgroundColor;

    @include media-breakpoint-up(md) {
        max-width: 400px;
    }

    input {
        min-height: $searchBoxHeight;
        flex: 1;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: $searchBorderRadius;
        border: 0;
        font-weight: 200;
        background-color: $searchBackgroundColor;
    }

    button {
        width: $searchBoxHeight;
        height: $searchBoxHeight;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $searchButtonColor;
        border: 0 solid $searchButtonColor;
        border-radius: $searchBorderRadius;

        i {
            color: $white;
            font-size: 14px;
        }
    }
}

.filter-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-up(md) {
        width: 50%;
    }

    @include media-breakpoint-up(lg) {
        width: auto;
    }

    label {
        width: 25%;
        color: $secondary;
        font-size: 14px;
        font-weight: 600;

        @include media-breakpoint-up(lg) {
            white-space: nowrap;
        }

        @include media-breakpoint-up(lg) {
            width: auto;
        }
    }

    select {
        width: 75%;
        height: 42px;
        color: $secondary;
        font-weight: 300;
        font-size: 14px;
        border-style: solid;
        border-width: 1px;
        border-color: $secondary;
        border-radius: $border-radius;
        background-color: white;

        @include media-breakpoint-up(lg) {
            width: auto;
        }
    }
}

.data-table {
    overflow-x: auto;

    &.vertical-align-cells {
        tbody tr td {
            vertical-align: middle;
        }
    }

    .table-responsive {
        overflow-x: initial !important;
    }

    .dropdown-toggle {
        border: 0;
        background-color: transparent;

        &::after {
            display: none;
        }
    }
}